#notes {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.note-link {
	border-radius: 1rem;
	background-color: var(--bg-secondary);
	min-height: 8rem;
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

a.note-link {
	text-decoration: none;
	color: var(--text-primary);
}

.note-link:hover {
	background-color: rgba(13, 13, 14, 0.7);
}

.note-link-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-link-title .note-link-heading {
	font-size: 1.5rem;
	font-weight: 700;
}

.note-link-title .note-link-date {
	font-size: 1rem;
	font-weight: 400;
}

.note-link-description {
	margin-top: 0.5rem;
}
